# UPBIT API 테스트
- 참조 링크: https://wikidocs.net/31063

In [9]:
import pyupbit
import pandas as pd
import numpy as np

### 현재 시세 확인
- 사용 매써드 : get_current_price()
- 파라미터: 시장-코인명

In [6]:
price = pyupbit.get_current_price("KRW-BTC")
print('업비트, KRW 비트코인 현재가격', price,'원')

업비트, KRW 비트코인 현재가격 38376000.0 원

### 시가(open), 고가(high), 저가(low), 종가(close), 거래량(volume) 조회
- 사용매써드 : get_ohlcv
- 매써드 파라미터: 확인할 거래시장과 코인 이름, 월/주/일/분봉, 가져올 일수(오늘 기준 과거 몇일) count = 일수

In [14]:
ohlcv_day = pyupbit.get_ohlcv('KRW-BTC') ## KRW 비트코인 ohlcv 데이터프레임 형태로 수신

In [15]:
ohlcv_day.reset_index().loc[df.reset_index()['index'] == '2021-07-14 09:00:00',:]

,index,open,high,low,close,volume,value
199,2021-07-14 09:00:00,38741000.0,38901000.0,37600000.0,38328000.0,4954.981372,1.893939e+11

In [16]:
ohlcv_one_min =  pyupbit.get_ohlcv('KRW-BTC', interval="minute1") ##분봉으로 확인

In [17]:
ohlcv_one_min

,open,high,low,close,volume,value
2021-07-14 18:42:00,38403000.0,38427000.0,38383000.0,38400000.0,5.307952,2.038338e+08
2021-07-14 18:43:00,38409000.0,38415000.0,38400000.0,38404000.0,3.489669,1.340250e+08
2021-07-14 18:44:00,38404000.0,38413000.0,38401000.0,38413000.0,5.612589,2.155611e+08
2021-07-14 18:45:00,38413000.0,38414000.0,38385000.0,38385000.0,4.679092,1.796955e+08
2021-07-14 18:46:00,38385000.0,38385000.0,38331000.0,38332000.0,5.206811,1.997452e+08
...,...,...,...,...,...,...
2021-07-14 21:57:00,38390000.0,38390000.0,38350000.0,38350000.0,7.240911,2.777465e+08
2021-07-14 21:58:00,38350000.0,38351000.0,38310000.0,38315000.0,3.187211,1.221809e+08
2021-07-14 21:59:00,38308000.0,38351000.0,38305000.0,38323000.0,4.673858,1.791023e+08
2021-07-14 22:00:00,38325000.0,38350000.0,38324000.0,38350000.0,1.194082,4.577969e+07
2021-07-14 22:01:00,38333000.0,38349000.0,38333000.0,38349000.0,0.052668,2.019714e+06